.DS_Store
.idea/
.vs/
.dotnet/
.nuget/
**/bin/
**/obj/
*.user
*.suo
**/node_modules/
**/umbraco/Data/
**/umbraco/Logs/
**/umbraco/mediacache/
**/wwwroot/media/
**/wwwroot/App_Plugins/
**/appsettings.json
**/appsettings.Development.json
**/appsettings.local.json
**/appsettings-schema*.json
**/umbraco-package-schema.json
*.db
*.db-shm
*.db-wal
*.pfx
.env
.env.*
